<!-- <label for="grouping">Grouping:</label>
<select id="grouping">
  <option value="0">None</option>
  <option value="1">Per Day</option>
  <option value="7">Per Week</option>
  <option value="30">Per Month</option>
</select> -->

<mat-form-field appearance="fill">
    <mat-label>Grouping:</mat-label>
    <select matNativeControl required id="grouping">
        <option value="0" selected>None</option>
        <option value="1">Per Day</option>
        <option value="7">Per Week</option>
        <option value="30">Per Month</option>
    </select>
</mat-form-field>

<!-- <label for="timeSpan">Time span:</label>
<select id="timeSpan">
  <option value="all">All data</option>
  <option value="lastYear">Last year</option>
</select> -->

<mat-form-field appearance="fill">
    <mat-label>Time span:</mat-label>
    <select matNativeControl required id="timeSpan">
        <option value="all" selected>All data</option>
        <option value="lastYear">Last year</option>
    </select>
</mat-form-field>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="50%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-label>
                        The Charts
                    </mat-label>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="chartUpdateFlag"
                    style="width: 100%; height: 400px; display: block; margin: 10px;"></highcharts-chart>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="50%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-label>
                        The Table
                    </mat-label>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="this.tableDataSource" matSort
                    (matSortChange)="announceSortChange($event)">
                    <!-- Created Date -->
                    <ng-container matColumnDef="createdDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Date">
                            Created Date
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.createdDate | date:'dd-MM-yyy'}}
                        </td>
                    </ng-container>

                    <!-- Quantity -->
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                        <td mat-cell *matCellDef="let row">{{ row.quantity | number: '1.2-2'}}</td>
                    </ng-container>

                    <!-- Price Per Unit -->
                    <ng-container matColumnDef="pricePerUnit">
                        <th mat-header-cell *matHeaderCellDef>
                            Price PerUnit
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.pricePerUnit | currency:'EUR'}}
                        </td>
                    </ng-container>

                    <!-- Customer Attribute A -->
                    <ng-container matColumnDef="customerAttributeA">
                        <th mat-header-cell *matHeaderCellDef>
                            customerAttributeA
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.customerAttributeA | truncate: 15}}
                        </td>
                    </ng-container>

                    <!-- Customer Attribute B -->
                    <ng-container matColumnDef="customerAttributeB">
                        <th mat-header-cell *matHeaderCellDef>
                            customerAttributeB
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <label [matTooltip]="row.customerAttributeB">{{row.customerAttributeB | truncate:
                                15}}</label>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[6, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </mat-card-content>
        </mat-card>

    </div>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card [class] = "this.status">
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>
                    Last value
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-label>
                    {{this.extendedOrderLines[this.extendedOrderLines.length - 1].pricePerUnit}}
                </mat-label>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</div>