<h1>2. Data specialist</h1>
These exercises apply to the graph and table on the "Starting Code" page.
<br><br><br>
<h2>2.1 Group data by none/day/week/month</h2>
Changing this toggle will impact the graph series and categories. 
<br> The default option is "none" which means no grouping whatsoever. This means that "Order Lines" are sorted ascending by the creation date. 
<br> Grouping by "day" means that there will be a data point for every day between the date of the earliest data entry and today. There will be lots of zeroes. 
The categories should show date in terms of "date, month, year". For example "1 June 2022". 
<br> Grouping by "week" means that there will be a data point for every week between the date of the earliest data entry and today. 
The category should show the week number and year. For example "week 22 of 2022".
<br> Grouping by "month" means that there will be a data point for every month between the date of the earliest data entry and today.
The category should show the month and year. For example "June 2022". 
<br> Grouping sales by period gives an overview of the product performance. It gives a rough idea of the trends. Is this product becoming cheaper over time? Or perhaps more expensive?

<br><br><br>
<h2>2.2 Show data based on the "Time span" toggle</h2>
This toggle will impact both the graph and the table. 
If "Last year" is selected then display data only for "date of today" minus one year. 

<br><br><br>
<h2>2.3 Create a service that contains all the data manipulations of the previous steps</h2>
Create an Angular service that gets injected into the component. Pass the input data, perform the data formatting in the service, get the results and display them in the graph and table. 
