<h1>1. Component specialist</h1>

<h2>1.1. General formatting</h2>
<h3>1.1.0 Formatting</h3>
This page is very basic HTML. If you wish, modify this page: improve it, make it look appealing, design it as you wish. 
<h3>1.1.1 Convert the two dropdowns into a Material Button Toggle</h3>
Set the default value to be the first value. <br>
https://material.angular.io/components/button-toggle/overview
<h3>1.1.2 Add the table and the graph into their own Material Card</h3>
https://material.angular.io/components/card/overview
<h3>1.1.3 Using flex layout</h3>
Set the graph and table cards side by side, each taking 50% of the width, having the same hight. 
On the second row have 3 equally spaced cards: the "grouping" toggle button aligned to the left, the "last value" center aligned and the "time span" aligned right
<h3>1.1.4 Styling Material</h3>
For the card "last value" add a left border that is 8px wide and the border color depends on the value. 
The border is red if the value is less than or equal than 2. Otherwise the border is green.

<h2>1.2. Angular Material Table</h2>
<h3>1.2.1 Add sorting and pagination to the Angular Material Table</h3>
https://material.angular.io/components/table/overview
<h3>1.2.2 Filter the Angular Material Table</h3>
Add a dropdown (Material Select) with all the distinct values of customerAttributeA plus one option for "any". 
<br> Filter the table by the selection. 
<br> Add an input and search the table on the last two columns: customerAttributeA and customerAttributeB.
<br> Inside the search add a button that resets the search and dropdown. 
<h3>1.2.3 Format the table columns</h3>
Using a pipe, make the date field display only the day, month and year
<br> Using a pipe, round the numeric columns to 2 decimals. 
<br>Display the euro sign when needed.
<br>If the text is longer that 15 characters, truncate it, show "..." and add a Material Tooltip to display the full text

<h2>1.3. Highcharts</h2>
<h3>1.3.1 Format the X axis categories </h3>
Show the date in the format "day - month - year" (don't show the time)
<h3>1.3.2 Format the tooltip</h3> 
Show only 2 decimals and display the euro sign. Show the date in the same format as above. 
<br><br><br>

